body {
	width: 305px;
	margin: 0;
	padding: 30px;
	font-family: 'Titillium Web';
	font-weight: 300;
}

a {
	display: inline-block;
	color: #e62117 !important;
	text-decoration: none !important;
	opacity: 0.5;
	transition: all 0.1s ease-in-out;
}

a:hover {
	transform: translateY(-0.1em);
	opacity: 1;
}

svg {
	fill: currentColor;
}


.hide-by-default {
	display: None;
}

.box {
	position: absolute;
	padding: 0px;
	height: 2em;
	width: 2em;
	background-color: #e74c3c;
	margin: auto;
	cursor: pointer;
	border-radius: 0.3em;
	border: none;
}

.icon-close {
  height: 1em;
  width: 1em;
  display: block;
  margin: auto;
}

#title {
  display: inline-flex;
  color: #e62117;
  width: 100%;
}

#title h1 {
  display: inline-block;
  margin: 0 1em 1em 0;
  font-size: 17px;
  font-weight: normal;
  color: #e62117;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  width: auto;
}

#counter {
  flex-grow: 1; 
  float: right;
  margin-top: 0px;
  width: 100px;
  text-align: right;
  cursor: pointer;
}

#counter-value {
  vertical-align: middle;
}

#counter svg {
  vertical-align: middle;
}

label {
	margin-bottom: 0.2em;
	font-size: 15px;
	letter-spacing: 0.01em;
	cursor: pointer;
}

input {
	position: relative;
	top: -0.1em;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
	width: 1.2em;
    height: 1.2em;
    margin-right: 1em;
}

input[type='radio'], input[type='radio']:focus, input[type='radio']:hover, input[type='radio']:active {
    width: 1.2em;
    height: 1.2em;
    margin-right: 1em;
    border: 2px solid #e62117 !important;
    background: #fff !important;
    box-shadow: none !important;
    outline: 0;
}

input[type='radio']:hover, input[type='radio']:checked {
	transform: scale(1.1);
}

input[type='radio']:active {
	transform: scale(1.2);
}

input[type='radio']:checked::before {
	background-color: #e62117;
	bottom: 2px;
	left: 2px;
	right: 2px;
	top: 2px;
}

input.toggle-on-button ~ .toggle-content {
	max-height: 0;
	overflow: hidden;
}

input.toggle-on-button:checked ~ .toggle-content {
	max-height:100%;
}

.toggle-content{
	max-width: 100%;
	padding-left: 20px;
}

input.toggle-on-button ~ input.toggle-content {
	visibility: hidden;
}

input.toggle-on-button:checked ~ input.toggle-content {
	visibility: visible;
}

input[type="number"] {
	width: 15%;
	min-width: 50px;
	padding-left: 0.25em;
}

input[type="button"] {
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid #e62117;
  color: #e62117;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  transition: all 0.25s ease;
}
input[type="button"]:hover {
  color: white;
  background: #cf1e15;
  border: 2px solid #cf1e15;
}
input[type="button"]:active {
  letter-spacing: 2px;
}
input[type="button"]:after {
  content: "SUBMIT";
}


hr {
	border-top: 1px solid #8c8b8b;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}

#links {
	width: 100%;
	position: absolute;
	top: 0;
	right: 0.6em;
	font-size: 12px;
	text-align: right;
}

#links a {
	padding: 0.6em 0.4em;
}

#donate-link {
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-weight: bold;
}

 #report-link {
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-weight: bold;
}

#github-link svg {
	width: 1.15em;
	height: 1.15em;
	position: relative;
	top: 0.2em;
}
